In [6]:
import numpy as np
import pandas as pd
import requests
import ipinfo
import pycountry as py
from collections import OrderedDict

In [7]:
missing_values = ["n/a", "na", "--"]
#link to modify with csv placed in the same folder
df = pd.read_csv("/home/mde/Documents/kitDataScience/HW_Pandas_DataFrame/products.csv",sep=";",na_values = missing_values, nrows=10)
#we take 10 rows to have short computing time
df.head(10)

,username,ip_address,product,price,infos
0,ldrover0,666.666.666.666,Clam - Cherrystone,712.8,May contain sugar
1,kizakov1,nope,Soup - Campbells Bean Medley,379.26,Contains peanut and fish
2,abromet2,240.177.79.234,Island Oasis - Lemonade,305.96,Ingredients: mustard and fish
3,kkarolowski3,26.191.237.49,"Water - Mineral, Natural",350.15,Contains gluten
4,mbuckney4,58.90.204.239,Radish - Pickled,949.79,"May contain sugar, egg and fish"
5,bsnozzwell5,226.52.32.70,Oil - Sesame,354.33 MGA,Ingredients: sugar and milk
6,afairholme6,127.197.204.119,Chicken - Tenderloin,484.83,May contain sugar
7,avowdon7,189.169.17.54,Dc Hikiage Hira Huba,111.56,Contains sugar
8,epridham8,187.129.113.105,Dried Figs,88.05,"Ingredients: sugar, milk and fish"
9,tkendrew9,22.32.234.215,Pop - Club Soda Can,861.25,"May contain peanut, sugar, milk and fish"

In [8]:
#get country 2 digits
def getCountry(arg):
    access_token = '0a84de49aed663'
    handler = ipinfo.getHandler(access_token)
    ip_address = arg
    if checkCodeStatus(arg) != 200:
        return "N/A"
    else:
        details = handler.getDetails(ip_address)
        if "country" in details.all.keys():
            return details.all["country"]
        else:
            return "N/A"
    
    
#Check if the url exists
def checkCodeStatus(arg):
    url = "https://ipinfo.io/"+arg
    response = requests.get(url)
    return response.status_code

#66.666.666.666

#tests
print(getCountry("150.214.20.140"))
print(getCountry("666.666.666.666"))
print(getCountry("26.191.237.49"))

ES
N/A
US

In [9]:
getCountry(df["ip_address"][3])
df["ip_address"] = df["ip_address"].astype(str)

In [10]:
df["country"] = df["ip_address"].apply(lambda x: getCountry(x))
df.head(5)

,username,ip_address,product,price,infos,country
0,ldrover0,666.666.666.666,Clam - Cherrystone,712.8,May contain sugar,N/A
1,kizakov1,nope,Soup - Campbells Bean Medley,379.26,Contains peanut and fish,N/A
2,abromet2,240.177.79.234,Island Oasis - Lemonade,305.96,Ingredients: mustard and fish,N/A
3,kkarolowski3,26.191.237.49,"Water - Mineral, Natural",350.15,Contains gluten,US
4,mbuckney4,58.90.204.239,Radish - Pickled,949.79,"May contain sugar, egg and fish",JP

In [11]:
from multiprocessing import Pool
p = Pool(processes=4)
##df["country"] = p.map(getCountry,df["ip_address"])
##df.head(5)

In [12]:
def getCurrency(arg):
    code = arg
    if arg == "N/A":
        return "N/A"
    else:
        country = py.countries.get(alpha_2=code)
        print(country)
        currency = py.currencies.get(numeric=country.numeric)
        return currency

In [13]:
getCurrency("US")
#this technic doesn't for arg without alpha_3
#df["currency"] = df["country"].apply(lambda x: getCurrency(x))
#df.head(5)

Country(alpha_2='US', alpha_3='USA', name='United States', numeric='840', official_name='United States of America')

Currency(alpha_3='USD', name='US Dollar', numeric='840')

In [14]:
def getCurrency(arg):
    url = "http://country.io/currency.json"
    response = requests.get(url).json()
    dict = response
    if arg in dict :
        if arg == "N/A":
            return "N/A"
        else:
            return dict[arg]
    else:
        return "N/A"

In [15]:
df["currency"] = df["country"].apply(lambda x:getCurrency(x))
df.head(5)

,username,ip_address,product,price,infos,country,currency
0,ldrover0,666.666.666.666,Clam - Cherrystone,712.8,May contain sugar,N/A,N/A
1,kizakov1,nope,Soup - Campbells Bean Medley,379.26,Contains peanut and fish,N/A,N/A
2,abromet2,240.177.79.234,Island Oasis - Lemonade,305.96,Ingredients: mustard and fish,N/A,N/A
3,kkarolowski3,26.191.237.49,"Water - Mineral, Natural",350.15,Contains gluten,US,USD
4,mbuckney4,58.90.204.239,Radish - Pickled,949.79,"May contain sugar, egg and fish",JP,JPY

In [16]:
def getExchangeRate(arg):
    if arg == "N/A":
        return "N/A"
    else:
        url = "https://api.exchangerate-api.com/v4/latest/" + arg
        dict = requests.get(url).json()
        if arg in dict["rates"]:
            return dict["rates"]["EUR"]
        else: 
            return "N/A"


getExchangeRate("CHF")

0.908702

In [17]:
df["convertedPrice"] = df["currency"].apply(lambda x: getExchangeRate(x))
df.head(5)

,username,ip_address,product,price,infos,country,currency,convertedPrice
0,ldrover0,666.666.666.666,Clam - Cherrystone,712.8,May contain sugar,N/A,N/A,N/A
1,kizakov1,nope,Soup - Campbells Bean Medley,379.26,Contains peanut and fish,N/A,N/A,N/A
2,abromet2,240.177.79.234,Island Oasis - Lemonade,305.96,Ingredients: mustard and fish,N/A,N/A,N/A
3,kkarolowski3,26.191.237.49,"Water - Mineral, Natural",350.15,Contains gluten,US,USD,0.897837
4,mbuckney4,58.90.204.239,Radish - Pickled,949.79,"May contain sugar, egg and fish",JP,JPY,0.00827

In [18]:
#float conversion with a miw between floats and strings

df["price"] = pd.to_numeric(df["price"],errors='coerce')
df["convertedPrice"] = pd.to_numeric(df["convertedPrice"],errors='coerce')*df["price"]
df["infos"] = df["infos"].str.lower()
df.head(20)

,username,ip_address,product,price,infos,country,currency,convertedPrice
0,ldrover0,666.666.666.666,Clam - Cherrystone,712.80,may contain sugar,N/A,N/A,NaN
1,kizakov1,nope,Soup - Campbells Bean Medley,379.26,contains peanut and fish,N/A,N/A,NaN
2,abromet2,240.177.79.234,Island Oasis - Lemonade,305.96,ingredients: mustard and fish,N/A,N/A,NaN
3,kkarolowski3,26.191.237.49,"Water - Mineral, Natural",350.15,contains gluten,US,USD,314.377626
4,mbuckney4,58.90.204.239,Radish - Pickled,949.79,"may contain sugar, egg and fish",JP,JPY,7.854763
5,bsnozzwell5,226.52.32.70,Oil - Sesame,NaN,ingredients: sugar and milk,N/A,N/A,NaN
6,afairholme6,127.197.204.119,Chicken - Tenderloin,484.83,may contain sugar,N/A,N/A,NaN
7,avowdon7,189.169.17.54,Dc Hikiage Hira Huba,111.56,contains sugar,MX,MXN,5.238969
8,epridham8,187.129.113.105,Dried Figs,88.05,"ingredients: sugar, milk and fish",MX,MXN,4.134916
9,tkendrew9,22.32.234.215,Pop - Club Soda Can,861.25,"may contain peanut, sugar, milk and fish",US,USD,773.262116

In [19]:
#cleaning data1
uselessWords = ["contains","may","ingredients",":",",","contain",": ","and",""]
df["infos"] = df["infos"].replace(to_replace =uselessWords, value =" ") 
df.head()

,username,ip_address,product,price,infos,country,currency,convertedPrice
0,ldrover0,666.666.666.666,Clam - Cherrystone,712.80,may contain sugar,N/A,N/A,NaN
1,kizakov1,nope,Soup - Campbells Bean Medley,379.26,contains peanut and fish,N/A,N/A,NaN
2,abromet2,240.177.79.234,Island Oasis - Lemonade,305.96,ingredients: mustard and fish,N/A,N/A,NaN
3,kkarolowski3,26.191.237.49,"Water - Mineral, Natural",350.15,contains gluten,US,USD,314.377626
4,mbuckney4,58.90.204.239,Radish - Pickled,949.79,"may contain sugar, egg and fish",JP,JPY,7.854763

In [20]:
#cleaning data2
pat = r'\b(?:{})\b'.format('|'.join(uselessWords))
df['infos'] = df['infos'].str.replace(pat, '')
df["infos2"] = df['infos'].str.replace("[^\w\s]","")
df.head()

,username,ip_address,product,price,infos,country,currency,convertedPrice,infos2
0,ldrover0,666.666.666.666,Clam - Cherrystone,712.80,sugar,N/A,N/A,NaN,sugar
1,kizakov1,nope,Soup - Campbells Bean Medley,379.26,peanut fish,N/A,N/A,NaN,peanut fish
2,abromet2,240.177.79.234,Island Oasis - Lemonade,305.96,mustard fish,N/A,N/A,NaN,mustard fish
3,kkarolowski3,26.191.237.49,"Water - Mineral, Natural",350.15,gluten,US,USD,314.377626,gluten
4,mbuckney4,58.90.204.239,Radish - Pickled,949.79,"sugar, egg fish",JP,JPY,7.854763,sugar egg fish

In [21]:
#list of aliments
result=df["infos"].values.tolist()
result2 = [x.split(' ') for x in result]

def flatList(arg):
    flat_list = []
    for sublist in arg:
        for item in sublist:
            flat_list.append(item)
    mylist = dict.fromkeys(flat_list)
    keys=[i for i in mylist.keys()]
    #keys.remove("")
    return keys

In [22]:
#import string
#df["infos"][10].translate(str.maketrans('', '', string.punctuation)).split(" ")
#df["infos"][5].translate(str.maketrans('', '', string.punctuation)).split(" ")



list=[]
for value in  values:
    caco = value.translate(str.maketrans('', '', string.punctuation))
    list.append(caco)
print(list)

In [23]:
df1 = pd.DataFrame(df, columns=flatList(result2))
df1.head()
newDf = pd.concat([df, df1], axis=1)
newDf.head()

,username,ip_address,product,price,infos,country,currency,convertedPrice,infos2,,sugar,peanut,fish,mustard,gluten,"sugar,",egg,milk,"peanut,"
0,ldrover0,666.666.666.666,Clam - Cherrystone,712.80,sugar,N/A,N/A,NaN,sugar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,kizakov1,nope,Soup - Campbells Bean Medley,379.26,peanut fish,N/A,N/A,NaN,peanut fish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,abromet2,240.177.79.234,Island Oasis - Lemonade,305.96,mustard fish,N/A,N/A,NaN,mustard fish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,kkarolowski3,26.191.237.49,"Water - Mineral, Natural",350.15,gluten,US,USD,314.377626,gluten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mbuckney4,58.90.204.239,Radish - Pickled,949.79,"sugar, egg fish",JP,JPY,7.854763,sugar egg fish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
for i in flatList(result2):
    newDf[i] = newDf["infos2"].str.contains(r"i", na=True)
    
newDf.head()

,username,ip_address,product,price,infos,country,currency,convertedPrice,infos2,,sugar,peanut,fish,mustard,gluten,"sugar,",egg,milk,"peanut,"
0,ldrover0,666.666.666.666,Clam - Cherrystone,712.80,sugar,N/A,N/A,NaN,sugar,False,False,False,False,False,False,False,False,False,False
1,kizakov1,nope,Soup - Campbells Bean Medley,379.26,peanut fish,N/A,N/A,NaN,peanut fish,True,True,True,True,True,True,True,True,True,True
2,abromet2,240.177.79.234,Island Oasis - Lemonade,305.96,mustard fish,N/A,N/A,NaN,mustard fish,True,True,True,True,True,True,True,True,True,True
3,kkarolowski3,26.191.237.49,"Water - Mineral, Natural",350.15,gluten,US,USD,314.377626,gluten,False,False,False,False,False,False,False,False,False,False
4,mbuckney4,58.90.204.239,Radish - Pickled,949.79,"sugar, egg fish",JP,JPY,7.854763,sugar egg fish,True,True,True,True,True,True,True,True,True,True

In [28]:
print("Missing values for country :"+str(len(newDf[newDf['country'] == 'N/A'])))

Missing values for country :5